@import "./styles/fonts.css";
@import url(https://db.onlinewebfonts.com/c/34f7bdd42e2416027b075117aea12327?family=Jumper+PERSONAL+USE+ONLY+Thin+Italic);
@import url(https://db.onlinewebfonts.com/c/bb6967a207924f3f94995e91a51ec804?family=AvertaStd-Thin);

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Averta Std", sans-serif;
}
/* Para navegadores basados en WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* Fondo oscuro */
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: #4caf50; /* Pulgar verdoso */
  border-radius: 12px; /* Más redondeado */
  border: 3px solid #1a1a1a; /* Para integrarlo con el track */
}

::-webkit-scrollbar-thumb:hover {
  background: #66bb6a; /* Variante más clara al hacer hover */
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #91957d #1a1a1a; /* Pulgar verdoso y track oscuro */
}
